

a {
    text-decoration: none;
}

.home-img {
    display: flex;
    border-radius: 25% 75% 29% 71% / 62% 51% 49% 38%;
    background-color: blueviolet;
    width: 25rem;
    height: 25rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.home-img img{
    display: flex;
    width: 27rem;
    height: 28rem;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1rem;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}

header a {
    color: rgb(89, 85, 121);
}

nav {
    display: flex;
    width: 40%;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-evenly;
}

nav a:hover {
    color:rgb(50, 48, 69);
    text-decoration: underline;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    left: 2rem;
    position: absolute;
}

.outside-nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 2rem;
}

.contact {
    padding: 10px;
    border-radius: 30px;
    border: 2px solid;
    border-color: rgb(89, 85, 121);
}

.contact:hover {
    transform: scale(0.90);
}

.skills-imgs {
    width: 5rem;
    height: 5rem;
}
