
* {
    font-family: 'Montserrat', 'sans-serif';
}
/*
.home {
    display: flex;
    background-image: url("assets/images/clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
}
*/
a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1rem;
    font-weight: 300;
}

header a {
    color: rgb(89, 85, 121);
}

nav {
    display: flex;
    width: 40%;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-evenly;
}

nav a:hover {
    color:rgb(50, 48, 69);
    text-decoration: underline;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    left: 2rem;
    position: absolute;
}

.outside-nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 2rem;
}

.contact {
    padding: 10px;
    border-radius: 30px;
    border: 2px solid;
    border-color: rgb(89, 85, 121);
}

.contact:hover {
    transform: scale(0.90);
}

.home {
    display: flex;
    perspective: 1000px;
}

.home-img {
    display: flex;
    transform: rotateY(-30deg);
}

.home-img img{
    width: 100%;
    height: auto;
    border-radius: 1.5ch;
}

.home button {
    border-radius: 2ch;
    padding: 0.5rem 1.2rem;
}

.name {
    font-size: 5rem;
    font-weight: light;
    margin: auto;
}

.titles {
    font-weight: 500;
    font-size: 1.5rem;
}

.about {
    display: flex;
}

.skills {
    right: 2rem;
    position: absolute;
}

.skills-img {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1.5ch;
    margin: 0 1rem 1.5rem;
}

.item, .cert, .job {
    display: flex;
    justify-content: space-between;
}

.item-title {
    font-weight: 500;
}

.item-info {
    font-style: italic;
}

footer {
    background-color: rgb(89, 85, 121);
}