/*https://www.vecteezy.com/photo/69915269-liquid-motion-in-shades-of-lavender*/

#hero {
    background-image: url("assets/images/bg15.jpg");/*https://www.magnific.com/free-vector/gradient-pastel-color-background_25672407.htm#fromView=detail&position=2&uuid=af740ed1-1e36-4b47-bfa1-d680d54624fc&track=ais_hybrid*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: -1rem;
    height: 115vh;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgba(245, 227, 252, 0.50);
    border-bottom: 1px solid rgb(245, 227, 252);
}

body {
    background-color: aliceblue;
    margin: 1rem;
    color: rgb(88, 100, 124);
    font-family: 'Inter', sans-serif;
}

header a, .titles, .name, body a {
    color:rgb(167, 125, 182);
    font-family: 'Montserrat', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

nav {
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    align-items: center;
    gap: 1.3rem;
}

nav a:hover {
    color: rgb(255, 100, 237);
}

.logo {
    font-size: 1.5rem;
    margin-right: auto;
}

.logo a {
    color:rgb(164, 120, 174);
}

.contact {
    display: flex;
    margin-left: auto;
}

.contact, .resume-btn {
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 30px;
    background-image: linear-gradient(180deg, rgb(255, 126, 199), rgb(181, 82, 234));
}

.contact:hover, .resume-btn:hover {
    transform: scale(0.90);
    color: white;
}

.bi-arrow-right {
    margin: 0.2rem;
}

.home-page {
    color: white;
    padding: 3rem 2rem;
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.7), transparent, rgba(255, 255, 255, 0.7));
    border-radius: 3ch;
    width: fit-content;
    display: flex;
    margin: 5% 10%;
    position: relative;
    backdrop-filter: blur(3px);
    color:rgb(102, 85, 142);
    font-size: 0.8rem;
    font-family: 'Roboto Mono', monospace;
    box-shadow: -5px 5px 10px 0px rgba(21, 4, 34, 0.15);
}

.home-page::before {
    content: '';
    position: absolute;
    border-radius: 3ch;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    --b: 1px;
    --a: 360deg;
    padding: var(--b);
    box-sizing: border-box;
    background: linear-gradient(125deg, transparent, rgba(255, 255, 255, 0.60), transparent, rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.80));
    --_g:/var(--b) var(--b);
    mask:
        top var(--_g),
        calc(50% + 50%*sin(var(--a)))
        calc(50% - 50%*cos(var(--a))) var(--_g),
        linear-gradient(#0000 0 0) content-box intersect,
        conic-gradient(#000 var(--a),#0000 0);
}

.name {
    font-size: 4.5rem;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 0;
    color: rgb(77, 70, 114);
    font-family: 'Inter', sans-serif;
}

.bi-arrow-down-circle {
    display: flex;
    color: white;
    font-size: 2rem;
    justify-content: center;
    bottom: 3rem;
    position: relative;
}

.home-intro {
    width: 30em;
    position: relative;
    margin-left: 1.5rem;
}

.home-intro::before {
    content: '';
    height: 100%;
    width: 5px;
    top: 0;
    left: -1.5rem;
    border-radius: 3ch;
    position: absolute;
    background-image: linear-gradient(170deg, rgb(215, 136, 255), rgb(255, 181, 218));
}

.home-btns {
    display: flex;
    gap: 1rem;
}

.git-btn {
    border: 2px solid rgb(201, 111, 226);
    color: rgb(122, 96, 155);
    padding: 0.7rem 1.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 30px;
    position: relative;
}

.git-btn:hover {
    color: rgb(255, 42, 184);
    background-color: rgba(255, 111, 229, 0.1);
    border: 2px solid rgb(255, 42, 184);
    transform: scale(0.90);
}

.titles {
    font-weight: 700;
    font-size: 1.5rem;
}

#about {
    display: flex;
}

.left-container {
    width: 40%;
    margin-right: 1rem;
}

.right-container {
    width: 60%;
}

.school, .card-content {
    border-left: 2px solid rgb(45, 55, 86);
    padding-left: 1rem;
}

#education {
    margin-bottom: 1rem;
}

#education, #experience, .left-container {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 1.5ch;
    padding: 1rem;
    box-shadow: 0 0 10px 1px rgba(83, 133, 181, 0.1);
}

.title-container {
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
}

.job {
    display: block;
}

.bi-mortarboard-fill, .bi-briefcase-fill {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.5rem;
    background-image: linear-gradient(120deg,rgb(6, 33, 81) 0%, rgb(41, 123, 190) 90%);
    color: transparent;
    background-clip: text;
}

.item-title {
    font-weight: 600;
}

.skills-img {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 1.5ch;
    background: linear-gradient(148deg,rgba(255, 255, 255, 0.50) 30%, rgba(167, 167, 167, 0.05) 50%, rgba(255, 255, 255, 0.50) 70%);
    box-shadow: 0 0 10px 1px rgba(83, 133, 181, 0.1);
}

.container {
    display: flex;
    align-items: center;
    margin: 0 5rem;
}

.project-view {
    width: 100%;
    overflow-x: hidden;
}

#project-container {
    display: flex;
    transition: transform 0.5s ease;
}

.project-card {
    display: flex;
    flex: 0 0 100%;
}

.project-info {
    margin-left: 3rem;
}

.project-image {
    position: relative;
}

.project-image img {
    position: relative;
    z-index: 1;
    display: flex;
    width: 70%;
    margin-left: auto;
}

.frame { /*Code from https://www.smashingmagazine.com/2024/05/modern-guide-making-css-shapes/*/
    position: absolute;
    top: 4rem;
    left: 3rem;
    aspect-ratio: 1;

    --b: 4rem; /* the boder thickness */
    --a: 360deg; /* control the progression */
    z-index: 0;
    
    width: 65%;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: var(--b);
    box-sizing: border-box;
    background: linear-gradient(rgba(24, 42, 97, 0.70), rgba(137, 203, 219, 0.70));
    --_g:/var(--b) var(--b) no-repeat radial-gradient(50% 50%,#000 97%,#0000 99%);
    mask:
        top var(--_g),
        calc(50% + 50%*sin(var(--a)))
        calc(50% - 50%*cos(var(--a))) var(--_g),
        linear-gradient(#0000 0 0) content-box intersect,
        conic-gradient(#000 var(--a),#0000 0);
}


.tool-container {
    display: flex;
    gap: 0.5rem;
}

.project-tools {
    background-color: rgb(197, 197, 197);
    border-radius: 10ch;
    padding: 0.3rem 1.5rem;
}

.btn {
    background-color: rgb(197, 197, 197);
    border-radius: 100%;
    width: fit-content;
    height: auto;
    border: none;
    padding: 0.5rem;
    margin: 0 1rem;
    z-index: 1;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.51);
}

.previous {
    left: 0;
    position: absolute;
}

.next {
    right: 0;
    position: absolute;
}

footer {
    position: relative;
    background-image: linear-gradient(80deg, rgb(88, 0, 131), rgb(203, 0, 203), rgb(255, 213, 134)90%);
}
